*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
  padding: 0;
}
.container {
  width: 100%;
}
.btn {
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: 2px solid hsl(0, 0%, 98%);
  transition: 0.5s ease-in;
}
.btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}
.nav .nav__desktop {
  display: none;
}
.largehero {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.largehero__pattern__left {
  position: absolute;
  top: 100%;
  left: 0;
}
.largehero__pattern__right {
  position: absolute;
  right: 0;
  top: 160%;
}
.largehero--right {
  order: -1;
  z-index: 10;
}
.largehero--left {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  padding-bottom: 7rem;
}
.largehero__title {
  margin-top: 5rem;
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  padding: 0 2rem;
  text-align: center;
}
.largehero__description {
  line-height: 2rem;
  font-weight: 400;
  padding: 1rem 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.main {
  margin-top: 10vh;
  text-align: center;
}
.main__title {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 5rem;
}
.main__title--highlight {
  border-top: 1px solid hsl(273, 4%, 51%);
  width: 40%;
  display: inline-block;
}
.main__highlight__icon {
  display: inline-block;
}
.main__highlight__title {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: 0;
}
.main__highlight__content {
  color: hsl(273, 4%, 51%);
  line-height: 2rem;
  margin-bottom: 4rem;
}
.banner {
  background-color: hsl(256, 26%, 20%);
  text-align: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.banner__title {
  position: relative;
  font-size: 2.3rem;
  font-weight: 200;
  color: hsl(0, 0%, 98%);
  font-family: 'DM Serif Display', serif;
  padding: 4rem 2rem 1rem 2rem;
  z-index: 100;
}
.banner__pattern {
  position: absolute;
  right: 0;
  top: 0;
}
.footer {
  text-align: center;
  margin-top: 10rem;
  background-color: hsla(0, 5%, 92%, 0.719);
  position: relative;
}
.footer__pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.footer__social__links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__social--highlight {
  border-top: 1px solid hsl(273, 4%, 51%);
  width: 70%;
  display: inline-block;
}
.footer__logo {
  margin: 0 auto;
  padding-top: 7rem;
}
.footer__sociallink:not(:last-child) {
  padding-right: 1.5rem;
}
.footer__nav__column {
  margin-top: 2.5rem;
}
.footer__nav__title {
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
}
.footer__nav__items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer__nav__item {
  text-decoration: none;
}
.footer__nav__link {
  color: hsl(256, 26%, 20%);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2rem;
}
@media only screen and (min-width: 1000px) {
  .nav .nav__mobile {
    display: none;
  }
  .nav .nav__desktop {
    display: block;
    background-color: red;
  }
}
